<div class="container card">
  <div class="row">
    <div class="">
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <a href="#" class="clearFilterOptions" style="display: inline;" (click)="cancelChoises()">ניקוי</a>
        <span (click)="displayFilter = !displayFilter">
                <h3 class="panel-heading btn btn-info" style="width:100%">{{filter.Title}}</h3>
              </span>
        <!-- List group --></div>
      <div *ngIf ="displayFilter">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let option of (filter.Options) | slice:0:numOfDisplay;" type="filter.Type">
            <div class="material-switch pull-right" >
              <input [id]="'op-'+filter.Type+'-'+option.id" name="someSwitchOption001" type="checkbox" [(ngModel)]="option.checked"/>
              <label (click)="filterr(option.name)" [for]="'op-'+filter.Type+'-'+option.id" class="label-default" id="option.id">{{option.name}}</label>
            </div>
          </li>
        </ul>
        <a href="#" (click)="numOfDisplay=filter.Options.length" *ngIf="numOfDisplay==2">הצג יותר </a>
        <a href="#" (click)="numOfDisplay=2" *ngIf="numOfDisplay != 2">הצג פחות</a>
      </div>
    </div>
  </div>
</div>




